{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
    <div class="container">
            <h1>Gérer les enseignants</h1>
        <div class="card">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.lastname }} {{ teacher.firstname }}</td>
                        <td>
                            <a href="{{ path('admin.teacher.edit', {id:teacher.id}) }}" class="btn btn-primary">Editer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        
    </div>

{% endblock %}