
    <div class="col-lg-4" id="CS_Enseignant">
        <div class="card">
            <div class="card-head">
                <div class="card-head-user"><i class="fas fa-user"></i></div>
                <h1>{{ teachers.firstname }} {{ teachers.lastname }}</h1>
                <div class="card-head-discipline">
                    <span class="card-head-tag tag-geo">Géographie</span>
                    <span class="card-head-tag tag-hist">Histoire</span>
                </div>
                <ul>
                    <li>Tél : {{ teachers.phone }}</li>
                    <li>Email : {{ teachers.email }}</li>
                </ul>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cours</th>
                            <th>Heures</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>164</td>
                            <td>Epistémologie</td>
                            <td>20</td>
                            <td><i class="fas fa-eye"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

