* {
    box-sizing: border-box;
}

@media (min-width: 1500px){
    .container {
        max-width: 1440px;
    }
}

ul {
    padding: 0;
    margin: 0;
}

body {
    background: #DEDEDE;
    margin: 0;
    padding: 0;
    font-family: "Roboto Regular", serif;
}

header {
    background: #FFF;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header img {
    width: 217px;
}

.card-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.card-head-user {
    height: 90px;
    width: 90px;
    background: #C4C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-bottom: 10px;
}

.card-head-tag {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    font-family: "Roboto Regular", serif;
    margin-bottom: 15px;
    color: #fff;
}

.card-head-tag:first-child {
    margin-right: 15px;
}

.tag-geo {
    background-color: #404894;
}
.tag-hist {
    background-color: #7C3B9B;
}
.tag-lit {
    background-color: #558da4;
}
.tag-gram {
    background-color: #66AAC7;
}
.tag-math {
    background-color: #1E651D;
}
.tag-lv {
    background-color: #E96147;
}
.tag-ph {
    background-color: #F874EA;
}
.tag-cine {
    background-color: #BFAE94;
}


.card-head ul {
    list-style: none;
    text-align: center;
    font-family: "Roboto Light", serif;
}