* {
    box-sizing: border-box;
}

@media (min-width: 1500px){
    .container {
        max-width: 1440px;
    }
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
    font-weight: 400;
}

body, ul {
    padding: 0;
    margin: 0;
}

body {
    background: #DEDEDE;
}

.card-body .table td, .card-body .table th {
    padding: .40rem;
    vertical-align: middle;
}

header {
    background: #FFF;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header img {
    width: 217px;
}

a.list-item-link, a.list-item-link-view {
    display: block;
    color: #b58e53 !important;
}

a.list-item-link-view {
    text-align: right;
    padding: 0 10px;
}

.badge {
    font-weight: 400;
}
.card-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.card-head-user {
    height: 90px;
    width: 90px;
    background: #C4C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-bottom: 10px;
}

.card-head-tag {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    /*font-family: "Roboto Regular", serif;*/
    margin-bottom: 15px;
    color: #fff;
}

.tag-geo {
    background-color: #404894;
}
.tag-hist {
    background-color: #7C3B9B;
}
.tag-lit {
    background-color: #558da4;
}
.tag-gram {
    background-color: #66AAC7;
}
.tag-math {
    background-color: #1E651D;
}
.tag-ang, .tag-esp {
    background-color: #E96147;
}
.tag-ph {
    background-color: #F874EA;
}
.tag-cine {
    background-color: #BFAE94;
}

.card-head ul {
    list-style: none;
    text-align: center;
    font-weight: 300;
}

a.list-item-link:hover {
    margin: 0 -10px 0 10px;
    text-decoration: none;
}

a.list-item-link-view:hover {
    color: #7e5a3f !important;
    text-decoration: none;
}

a.sort-item-link {
    color: #28586f !important;
}

.badge-cs {
    background-color: #28586f;
    color: #f8f9fa;
}