{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>Editer l'enseignant</h2>
                    {{ include ('bdd/admin/components/_form_admin_teacher.html.twig', {button:'Editer'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}