{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
    <div class="container">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2>Editer l'enseignant</h2>
                    {{ include ('bdd/components/form_admin_teacher.html.twig', {button:'Editer'}) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}