{% extends 'bdd/admin/home.html.twig' %}

{% block title 'Admin' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2>Ajouter un concours</h2>
                    {{ include ('bdd/admin/components/_form_admin_concours.html.twig') }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}